/openid-connect-server-spring-boot-ui-thymeleaf/src/main/resources/static/resources/js/lib/* linguist-vendored
/openid-connect-server-spring-boot-ui-thymeleaf/src/main/resources/static/resources/bootstrap2/* linguist-vendored