<!DOCTYPE html>
<html data-th-lang="${#locale.language}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head data-th-replace="fragments/header :: head(#{error.header})">
</head>
<body>
<div id="wrap">
	<!--/* TODO: highlight proper section of topbar; what is the right way to do this? */-->
	<span data-th-replace="fragments/topbar :: topbar(pageName=#{error.title})"></span>
	
	<div class="container-fluid main">
		<div class="row-fluid">
			<div class="offset1 span10">
				<div class="hero-unit">
					<h1><span data-th-text="#{error.header}"></span>
						<span class="text-error" data-th-text="ErrorCode"></span>
					</h1>
					<p>
						<span class="text-error" data-th-text="#{error.message}"/>
						<blockquote class="text-error"><b data-th-text="ErrorMessage"></b></blockquote>
	                </p>
				</div>
			</div>
		</div>
	</div>
	<div id="push"></div>	
</div>
<th-block data-th-replace="fragments/footer :: footer"/>

</body>
</html>
