<!DOCTYPE html>
<html>
<body>

<th-block data-th-fragment="footer">

<!-- end #wrap -->
<div id="footer">
	<div class="container">
		<p class="muted credit">
			<span data-th-replace="fragments/copyright :: copyright"></span>
		</p>
	</div>
</div>
<!-- javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="resources/bootstrap2/js/bootstrap.js"></script>
<script type="text/javascript" src="resources/js/lib/underscore.js"></script>
<script type="text/javascript" src="resources/js/lib/backbone.js"></script>
<script type="text/javascript" src="resources/js/lib/purl.js"></script>
<script type="text/javascript" src="resources/js/lib/bootstrapx-clickover.js"></script>
<script type="text/javascript" src="resources/js/lib/bootstrap-sheet.js"></script>
<script type="text/javascript" src="resources/js/lib/bootpag.js"></script>
<script type="text/javascript" src="resources/js/lib/retina.js"></script>
<th-block data-th-if="${not #strings.isEmpty(js)}">
	<script type="text/javascript">
			// set up a global variable for UI components to hang extensions off of
			
			var ui = {
				templates: ["resources/template/admin.html"], // template files to load for UI
				routes: [], // routes to add to the UI {path: URI to map to, name: unique name for internal use, callback: function to call when route is activated}
				init: [] // functions to call after initialization is complete
			};
	</script>
	<script data-th-each="jsFile: ${ui.jsFiles}" type="text/javascript" data-th-src="${jsFile}"></script>
	<script type="text/javascript" src="resources/js/admin.js"></script>	
</th-block>


<div id="templates" class="hide"></div>
</th-block>
</body>
</html>
